{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}
{% block content %}
<section id="content">
  <h1>Archives</h1>
  <table class="table table-striped" id="archives">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      {% for article in dates %}
      <tr>
        <td>
          <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </td>
        <td>
          <a href="{{ SITEURL }}/{{ article.url }}">
            {{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table><!-- #archives -->
</section>
{% endblock %}
