{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block meta %}
  {% if article.author %}
  <meta name="author" content="{{ article.author }}" />
  {% else %}
  <meta name="author" content="{{ AUTHOR }}" />
  {% endif %}
  {% if article.tags %}
  <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
  {% endif %}
  {% if article.summary %}
  <meta name="description" content="{{ article.summary|striptags|escape }}" />
  {% endif %}
{% endblock %}

{% block content %}
<section id="content">
  <article clas="hentry">
    <header class="entry-header">
      <div class="entry-meta">
        <i class="far fa-calendar-alt"></i>
        <time class="entry-date" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>

        {% include 'includes/comments_count.html' %}
        {% if SHOW_ARTICLE_AUTHOR %}
        {% if article.author %}
        <i class="far fa-user"></i>
        <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        {% endif %}
        {% endif %}
      </div><!-- /.entry-meta -->
      <h1>
        <a href="{{ SITEURL }}/{{ article.url }}"
          rel="bookmark"
          title="Permalink to {{ article.title|striptags }}">
          {{ article.title }}
        </a>
      </h1>
    </header>
    <div class="entry-content">
      {{ article.content }}
    </div> <!-- /.entry-content -->
    <footer class="entry-footer">
      {% if article.category %}
      <p>
        <i class="fa fa-folder-open"></i>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      </p>
      {% endif %}

      {% if article.tags %}
      <p>
        <i class="fa fa-tags"></i>
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </p>
      {% endif %}
    </footer><!-- /.entry-footer -->
  </article>
</section>

{% include 'includes/comments.html' %}
{% endblock %}
