{% extends "base.html" %}
{% block content %}
<section id="content">

<div class="posts">
{% for article in articles_page.object_list %}
  <article class="hentry">
      <header class="entry-header">
        <div class="entry-meta">
          <i class="far fa-calendar-alt"></i>
          <time class="entry-date" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
          {% include 'includes/comments_count.html' %}
        </div><!-- /.entry-meta -->
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
      </header>
      <div class="entry-content">{{ article.summary }}</div><!-- .entry-content -->
      <a class="btn btn-block btn-outline-dark" href="{{ SITEURL }}/{{ article.url }}">Read more</a>
  </article>
{% endfor %}
</div><!-- #posts -->

{% if articles_page.has_other_pages() %}
    {% include 'includes/pagination.html' %}
{% endif %}
</section><!-- #content -->
{% endblock content %}
