{% if DISQUS_SHORTNAME and SITEURL and article.status != "draft"  %}
<section class="comments" id="comments">
  <h2>Comments</h2>

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ SITEURL }}/{{ article.url }}';
      this.page.identifier = '{{ article.url }}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ DISQUS_SHORTNAME }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the comments.</noscript>
</section>
{% endif %}
